q{
    font-size: 17px;
    color: #555;
    font-style: italic;
}
body{
    margin: 0;
}
header{
    background-color: #555;
    min-height: 100px;
}
.container{
    display: flex;
    min-height: 600px;
}
aside{
    width: 200px;
    background-color: aquamarine;
}
main{
    flex: 1;
    background-color: rgb(172, 172, 196);
}
footer{
    background-color: black;
    min-height: 100px ;
}
img{
    word-break: keep-all;
}
address{
    color: rgb(226, 226, 231);
}